<div class="container">
  <div class="row">
    <!-- Latest Posts -->
    <main class="posts-listing col-lg-8"> 
      <div class="container">
        <div class="row">
          <!-- post -->
          <app-post-data  ></app-post-data>
        </div>
      </div>
    </main>
    <aside class="col-lg-4">
      <!-- Widget [Search Bar Widget]-->
      <app-widget-search></app-widget-search>
      <!-- Widget [Latest Posts Widget] -->
      <app-widget-latest-posts></app-widget-latest-posts>
      <!-- Widget [Categories Widget]-->
      <app-categories></app-categories>
      <!-- Widget [Tags Cloud Widget]-->
      <app-tags></app-tags>
    </aside>
  </div>
</div>
